html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  Navbar Start   */
#header {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 12px -2px;
    z-index: 999;
    background: #ffff;
}

.navbar{
  box-shadow: rgba(184, 189, 198, 0.25) 0px -50px 0px 0px;
  margin-top: 8px;
  height: 70px;
}

h2{
  text-align: center;
  color: green;
  font-family: 'Times New Roman';
}

.mainNav .navbar-brand img {
  width: 85px;
  height: 60px;
  margin-left: 25px;
}

.mainNav .nav-item .nav-link {
  font-size: 22px;
  font-weight: 600;
  color: black !important;
  margin-left: 30px;
}

.mainNav .nav-item .nav-link:hover {
  color: green !important;
}
/*
.mainNav .nav-item.active .nav-link {
  color: firebrick !important;
}

.mainNav .nav-item {
  padding-left: 3rem;
}
*/
/* --- Partner ---*/
#Partner{
  width: 130px;
  height: 40px;
  position: relative;
  left: 80px;
  top: 5px;
  border: 1px solid rgb(60, 13, 13);
  border-radius: 25px;
  background-color: rgb(116, 12, 12);
}
#Partner a{
  position: relative;
  bottom: 7px;
  right: 10px;
  color: white !important;
}
#Partner a:hover {
  color: green !important;
}
#loginBtn{
  width: 100px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  color: black;
  border: 2px solid rgb(39, 246, 39);
  font-weight: bold;
  margin-right: 25px ;
  padding-top: 3px;
}
#loginBtn:hover {
  background: rgb(29, 245, 29);
  color: #fff;
}

.search {
  width: 25px;
  cursor: pointer;
  margin-right: 40px;
}

#searchModal .modal-content {
  min-height: 500px;
  max-height: 600px;
  
}
#searchBox {
  width: 390px;
  margin-left: 40px;
  font-size: 20px;
  color: #000;
  font-style: italic;
  background-color: rgba(184, 189, 198, 0.25),rgba(184, 189, 198, 0.25) 0px 0px 0px 50px;;
}
/*  Navbar End  */
  